[Unit]
Description=Cadestro Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{.BinaryPath}} -data-dir={{.DataDir}} -log-level=info
Restart=always
RestartSec=10
RuntimeDirectory=cadestro
RuntimeDirectoryMode=0700
ProtectControlGroups=true
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cadestrod

[Install]
WantedBy=multi-user.target
